<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/common :: head('Detail')"></head>
<body>
	<div th:replace="fragment/common :: header('家計費管理')"></div>
	<div class="mx-auto justify-content-between d-flex flex-row my-5 w-50">
		<div><a th:href="@{/}" style="text-decoration:none;">家計費一覧</a>　/ 詳細 </div>
		<a th:href="@{/expense/create}" class="btn btn-primary px-3" style="border-radius:10px"><i class="bi bi-plus-circle-fill"></i>&nbsp;&nbsp;&nbsp;追加</a>
	</div>
	<div class="mx-auto d-flex flex-row bg-secondary text-light w-50 p-3 rounded ">
		<div>
		合計　（ <span class="value" th:text="${#numbers.formatDecimal(total, 0, 'COMMA', 0, 'POINT' )}"></span> JPY）
		</div>
	</div>
	<div class="mx-auto w-50 my-5">
		<div th:object="${expense}" th:each="expense,index : ${expenseList}" class="d-flex flex-row justify-content-between  border px-3 py-3 mb-4 text-dark" th:classappend="${index.index%2==0?'':'bg-light'}"    >
			<a th:href="@{/update-expense/{id}(id=*{id})}" class="d-flex flex-row justify-content-between col-11 text-dark" style="cursor:pointer;text-decoration: none; border-radius:10px">
	 			<span class="col-2  " th:text="*{#dates.format(date, 'yyyy/MM/dd')}"></span>
	 			<span class="col-7 " th:text="*{title}"></span>
				<span class="col-2 d-flex flex-row justify-content-end " th:text="${#numbers.formatDecimal(expense.expense, 0, 'COMMA', 0, 'POINT' )}+' JPY' "></span>
	 		</a>
	 		<form th:action="@{/expense/delete/{id}(id=*{id})}" method="post">
				<button class="btn btn-submit" type="submit" ><i class="bi bi-trash text-danger h4"></i></button>	
	 		</form>	
		</div>		
	</div>	
	 <div th:replace="fragment/common::footer('Spring Boot - Mybatis Tutorial','By Aar Kar & Amie')"></div>
</body>
</html>